body {
    background-color: rgba(66, 75, 81, 0.62) !important;
}
a {
    color: black;
}
.btn-primary {
    background-color: black;
}

.btn-secondary {
    background-color: white;
    color: black;
}

.btn-secondary:hover {
    background-color: black;
    color: white;
}

.btn-primary:hover {
    background-color: white;
    border-color: black;
    color: black;
    font-weight: bold;
}

.card {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 130px;
}

.card-img-top {
    width: 100%;
    height: 80px;
    object-fit: cover;
}

.card-body {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.scroll-down, .scroll-up {
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, color 0.3s;
}

.scroll-down {
    position: absolute;
    bottom: 20px;
}

.scroll-down:hover {
    background-color: #fff;
    color: #000;
}

.scroll-up {
    position: fixed;
    bottom: 80px;
    right: 20px;
}

.scroll-up:hover {
    background-color: #fff;
    color: #000;
}

.media-card {
    border: none;
}

.media-card-footer {
    background-color: #ffffff;
    display: flex;
    justify-content: flex-end;
}

.media-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    border: 2px solid black;
    padding: 2px 12px;
    margin: 12px 0;
}

.media-card .btn {
    margin: 0;
    padding: 5px;
    border: none;
}

/* vidéos */
.video-embed {
    position: relative;
    overflow: hidden;
    height: 100px;
    border: 2px solid black;
    border-radius: 5px;
}

.video-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Pictures */
.picture-container {
    position: relative;
    overflow: hidden;
    height: 100px;
    border: 2px solid black;
    border-radius: 5px;
}

.picture-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Vidéos and pictures */
.video-embed, .picture-container {
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.video-embed iframe, .picture-container img {
    width: 100%;
    height: 100%;
}


/* Responsive */
@media (min-width: 1200px) {
    .row.g-4 {
        --bs-gutter-x: 1.5rem;
    }

    .col-lg-2 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (max-width: 760px) {
    .info-box {
        font-size: 10px !important;
        padding: 2px !important;
    }

    .info-box span {
        font-size: 10px !important;
        white-space: nowrap !important;
    }

    .info-box i {
        font-size: 10px !important;
    }

    .row.mb-4.justify-content-start {
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: space-between !important;
    }

    .row.mb-4.justify-content-start .col-md-3 {
        flex: 1 1 auto !important;
    }
    #trick-media-mobile {
        display: none;
    }
    #toggle-media:checked + #trick-media-mobile {
        display: block;
    }
}

