{% extends 'base.html.twig' %}

{% block title %}Liste des figures{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
    <h1 class="text-light">LES TRICKS</h1>
</div>
    <div id="top"></div>
    <div class="d-flex justify-content-center my-4">
        <a href="{{ path('app_trick_newTrick') }}" class="btn btn-primary">Créer un nouveau Trick</a>
    </div>
    <div id="tricks" class="container px-5 my-5">
        <div class="row g-4">
            <div id="tricks-list" class="row g-4">
                {% include '/trick/partials/_tricks_list.html.twig' %}
            </div>
            <div class="text-center mt-4">
                <button id="load-more-tricks" class="btn btn-primary">Load More</button>
            </div>
        </div>
    </div>
{% endblock %}
